body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 2px;
    padding: 20px;
    color: blue;
    font-size: 32px;
}

p {
    margin: 2px;
    padding: 20px;
    color: brown;
    font-size: 24px;
}

figcaption {
    display: block;
    margin-left: 40px;
    padding: 0 0 0 20px;
    color: #000000;
    font-size: 18px;
}

img {
    height: 80vh;
    margin-left: 40px;
    padding: 20px 20px 5px 20px;
}

ul {
    margin-left: 20px;
    font-size: 18px;

}
